@charset "utf-8";
/**
 * base.css
 * https://www.yangqq.net/
 * Copyright 2019, design by yangqq
 */
@media only screen and (max-width: 1200px) {
.box, main, .search_box { width: 1000px; }
.logo { margin-right: 0 }
#starlist li a { padding: 0 12px }
.lbox { width: 68% }
.rbox { width: 30%; }
.banner { width: 430px; background: #000 }
.headline { width: 230px }
.menu:after { right: 0 }
}
@media screen and (min-width: 960px) and (max-width: 1024px) {
.box, main, .search_box { width: 940px; }
.banner { width: 420px; height: 230px; }
.banner h4 { font-size: 15px; margin: 20px 0 30px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; padding: 0; }
.headline { width: 200px; }
.headline ul { height: 230px; }
.headline ul li { height: 105px; }
#starlist li a { padding: 0 10px; }
}
@media only screen and (max-width: 959px) {
.welcome, .guanzhu { display: none }
.is-search {  margin: auto; height: auto; }
.is-search section { margin: 5px auto }
main { margin: 50px auto 30px }
.top { height: 40px; line-height: 40px; background: url(../images/mlogo.png) no-repeat #1d273d 10px; background-size: 100px; }
header { position: fixed; top: 0; left: 0; z-index: 9999; height: 40px; width: 100%; }
nav .box { width: 100% }
nav { width: 100%; background: rgba(0,0,0,.7); overflow: hidden; position: fixed; top: 40px;height: auto; }
.logo a { width: 100px; height: 40px; display: block; position: fixed; top: 0; left: 10px; }
.topnav { position: fixed; top: 0; z-index: 0; height: auto; z-index: 9999; width: 100%; }
nav #starlist { width: 100%; }
#mnavh { display: block; top: 0; position: absolute; right: 0; }
#starlist { display: none }
#starlist li { width: 60%; margin: 0; background: #fff; border-bottom: #eee 10px solid; line-height: 50px; float: left; font-size: 16px; }
#starlist li a:hover, #starlist #selected, #starlist li:hover { color: #d61a1a !important; background: #fff; }
#starlist li a { text-align: left; text-indent: 2em; color: #000; width: 100%; padding: 0; font-size: 15px; }
#starlist ul.sub { background: none; width: 100%; display: block; position: initial; padding: 0; opacity: 1; transition: none; }
#starlist ul.sub:before { display: none }
#starlist ul.sub li { border-bottom: none; width: 100%; overflow: hidden; line-height: 40px !important; border-top: none; height: 40px !important; background: none; font-size: 14px; }
#starlist ul.sub li:first-child { border-top: #eee 1px solid; }
#starlist ul.sub li a { display: block; padding-left: 10px; text-indent: 3em; width: auto; }
#starlist ul.sub li:hover a, #starlist li:hover a { background: none; color: #000; }
#starlist ul.sub li #selected { color: #000 !important }
#mnavh.open:after { position: fixed; width: 40%; height: 100%; content: ""; right: 0; top: 40px; }
.menu:after { width: 26px; height: 22px; content: ""; background: url("../images/jiantou.png") no-repeat; background-size: 16px; display: block; }
.menu:after { top: 13px; right: 2px; border-color: transparent; }
.menu:hover:after { transform: none; }
.menu span { display: block; ; position: absolute; width: 50px; height: 50px; background: #fff; top: 0; right: 0; border-left: #eee 1px solid; }
#starlist li:last-child { padding-bottom: 100%; }
#starlist ul.sub li:last-child { padding-bottom: 0 }
.logo img { display: none }
#starlist li:hover ul.sub:before { display: none }
.search_share { display: none }
.selected a:after { display: none }
.search-page { top: 0; padding-bottom: 200%; }
.ft_contact { margin-left: 20px; padding-left: 20px; }
.ft_about { width: 26%; }
.ft_guanzhu { width: 30% }

}
@media screen and (min-width: 769px) and (max-width: 959px) {
.box, main, .search_box { width: 96%; }
.banner { width: 100%; float: none; height: auto }
.headline { float: none; margin-top: 20px; width: 100%; }
.headline ul li { width: 50%; float: left }
.headline ul li:nth-child(1) a { margin-right: 10px; }
.headline ul li:nth-child(2) a { margin-left: 10px; }
.headline ul li:first-child { margin-bottom: 0; }
.headline ul { height: auto }
.lbox { width: 65% }
.rbox { width: 33%; }
}
@media only screen and (max-width: 768px) {
.box, main, .search_box { width: 96%; }
.rbox { display: none }
.lbox { width: 100%; }
.banner { width: 65%; height: 240px; }
.headline { width: 32%; }
.zt_list section { margin: 10px; padding: 20px 20px 60px; position: relative; overflow: hidden; }
.banner h4 { font-size: 16px }
.headline ul li { height: 110px }
.headline ul { height: auto; }
.pics ul li i { height: 110px }
}
 @media only screen and (max-width: 640px) {
.box, main, .search_box { width: 94%; }
main { margin: 50px auto 10px; }
.banner { width: 100%; float: none; height: auto }
.headline { float: none; margin-top: 20px; width: 100%; }
.headline ul li { width: 50%; float: left }
.headline ul li a{ position:relative}
.headline ul li:nth-child(1) a:after { position:absolute; content:"";right:0;top:0;width:5px;height:100%; background:#fff;}
.headline ul li:nth-child(2) a:after { position:absolute; content:"";left:0;top:0;width:5px;height:100%; background:#fff;}
.headline ul li:first-child { margin-bottom: 0; }
.headline ul { height: auto }
.headline h4 { font-size: 12px; }
.banner h4 { font-size: 12px; padding: 0 10px; margin: 10px 0 20px; }
#starlist li i { top: 12px; }
.is-search { width: 40px; height: 40px; position: fixed; right: 56px; }
.is-search section { background: none; height: 40px; margin: inherit; }
.is-search i { width: 40px; height: 40px; }
.blogs_list i { width: 96px; height: 67px; float: right; margin-right: 0; margin-left: 15px; }
.blogs_lm, .blogs_tags, .blogs_list p, .zhuanti p { display: none }
.blogs_writer { left: 0; bottom: 10px; margin: 0; color: #b3b2b2; }
.blogs_list h2 { font-size: 14px; white-space: inherit; line-height: inherit; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2; }
.blogs_list, .zhuanti { padding: 15px 0; border-bottom: #e9e9e9 1px solid; }
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction { bottom: 3px !important }
.swiper-pagination-bullet { width: 5px !important; height: 5px !important; }
.swiper-pagination-bullet-active { background: #fff !important }
.zhuanti a { height: 126px; overflow: hidden; display: block; }
.zhuanti img { height: 100%; object-fit: cover; }
.zhuanti h2 { font-size: 15px; }
.links { line-height: 24px; padding: 5px 0; }
.links li { font-size: 13px; margin: 0 5px 0 0; }
.links p:before, .links p:after { height: 13px; top: 6px; right: -12px; }
.links p:after { right: -13px; }
.ft_about { width: 100%; text-align: center; clear: both; float: none; }
.ft_contact { margin: 20px auto; width: auto; float: none; padding-top: 30px; padding-left: 0; }
.ft_contact:after, .ft_contact:before { width: 100%; height: 1px; }
.ft_contact:after { top: -1px; left: 0; }
.ft_contact:before { left: 0; }
.ft_contact li { background: none !important; text-align: center; padding-left: 0; }
.ft_guanzhu { width: 72%; float: none; margin: auto; }
.cr_left { float: none; text-align: center; }
.cr_right { float: none; text-align: center; }
footer { padding: 0; }
.links li { line-height: 24px }
.links p { font-size: 15px; margin-right: 24px; }
.copyright { padding: 15px; }
.ad { border: none }
.ad img { width: 100% }
article h1 { text-align: center; margin: 20px 15px; }
.wz_info { text-align: center; font-size: 12px; }
span.wz_frome a { color: #999; }
span.wz_time { color: #999; }
.weizhi { border-bottom: #e7e7e7 1px solid; padding-bottom: 8px; font-size: 12px; background-size: 17px; background-position: left 1px; }
.content p { font-size: 15px; }
.content h2, .content h3, .content h4, .content h5, .content h6 { margin: 30px auto }
.wz_tuijian ul li { width: 100%; }
.wz_tuijian ul li a { margin: 0 15px; }
.wz_tuijian ul li span { left: 148px; }
.wz_tuijian { }
.pagelist { margin: 30px auto 0; }
.time_box ul li { padding-left: 25px; }
.time_box ul li h2 { font-size: 15px; margin: 10px 0; }
.time_box ul li i { width: 96px; height: 67px; margin-right: 15px; }
.time_box ul li span:before { left: -25px; }
.pics ul li { width: 50%; }
.pics ul li i { height: 90px; }
.pics ul li a { margin: 5px 5px 10px 5px; }
.pics ul li p span { display: none; }
.pics ul li p { font-size: 12px; line-height: 30px; }
.zt_list { width: 100%; }
.zt_box { margin: 0; }
.zt_list h3 { font-size: 15px; margin: 10px 0; }
.zt_list p { height: auto; margin: 10px 0; }
.zt_list h3 span { position: absolute; bottom: 0; left: 0; width: 100%; text-align: center; float: none; padding: 0; }
.zt_list ul li { font-size: 13px; }
.tags_box { margin: 10px auto 0; }
.tags_box a { width: auto; padding: 0 10px; margin: 3px; background: #eee !important; border-radius: 3px !important; font-size: 13px; }
.tags_box a:nth-child(n+1):after, .tags_box a:nth-child(n+1):before { display: none; }
aside.rbox { width: 100%; display: block; margin: 0; }
.hot_news { margin-bottom: 0; padding: 0; border: none; }
.lm_hot { border: none; padding: 0; }
.hot_news li i { width: 96px; height: 67px; float: right; margin-right: 0; margin-left: 15px; }
.hot_news li h2 { font-size: 14px; white-space: inherit; line-height: inherit; text-overflow: ellipsis; -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2; font-weight: bold; }
.hot_news li em { right: 0; top: 0; left: inherit; border-radius: inherit; }
.hot_news li span { left: 0; bottom: 15px; }
.hot_news li a { padding: 0 0 15px 0; border-bottom: #e9e9e9 1px solid; display: block; overflow: hidden; }
.hot_news li { margin: 15px 0; }
.news_kx { margin-bottom: 20px; }
.page { padding: 0 }
#pageContents {overflow-x: scroll;width: 100%;border-bottom: #ece9e9 1px solid;margin-bottom: 30px;}
#pageContents ul { width: max-content; }
.page_title li {float: left;margin-right: 20px;font-size: 15px;}
.page-box { width: 100%; margin-left: 0; padding-left: 0; border: none; margin-top: 10px; }
.page-box-title { font-size: 20px; font-weight: bold }
.page_title li a{margin-bottom: 10px;}
#pagecurrent:after{width:20px;height:4px;left:50%;bottom: -10px;top:inherit;margin-left: -10px;}
.search-page .search { width: 100%;}

}
