<div class="search" ms-controller="headerCtr">
    <form name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);"
            onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}"
            onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text" ms-on-keyup="@onKeyUp"
            ms-duplex="@searchkey">
        <input name="show" value="title" type="hidden">
        <input name="tempid" value="1" type="hidden">
        <input name="tbname" value="news" type="hidden">
        <input name="Submit" class="input_submit" value="搜索" type="button" ms-click="@onKeyUp">
    </form>
</div>
<div class="fenlei">
    <h2>文章分类</h2>
    <ul>
        {% for cate in navigation %}
        {% if cate.parentId == '0' %}
        {% if cateInfo._id == cate._id %}
        {% set navClass = 'active'%}
        {% else %}
        {% set navClass = ''%}
        {% endif %}
        <li class="{{navClass}}"><a href="{{cate.url}}">{{cate.name}}&nbsp;({{cate.postCount}})</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
<div class="tuijian">
    <h2>站长推荐</h2>
    <ul>
        {% recommend key="srecommend",pageSize=8 %}
        {% if srecommend.length > 0 %}
        {% for item in srecommend %}
        <li><a href="{{item.url}}">{{item.stitle}}</a></li>
        {% endfor %}
        {% endif %}

    </ul>
</div>
<div class="cloud">
    <h2>标签云</h2>
    <ul>
        {% hottags pageSize=20 %}
        {% for tagItem in hottags %}
        <a href="{{tagItem.url}}" target="_blank">{{tagItem.name}}</a>
        {% endfor %}
    </ul>
</div>
<div class="links">
    <h2>友情链接</h2>
    {% ads name="frendlink" %}
    {{adsPannel.slider(frendlink)}}
</div>